<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Post</title>
</head>
<body>
<h1 id="blogPost-header" th:text="${BlogPost.name}">BlogPost Name</h1>

<h2>
    Tags associated with <span th:text="${BlogPost.name}"></span>
</h2>
<ul>
    <div th:each="iter: ${BlogPost.tags}">
        <a class="hashtag" th:text="'&#35' + ${iter.tag}"
           th:href="@{'/tag/' + ${iter.tag}}">
        </a>
    </div>
</ul>

<h2 th:text="${BlogPost.name} + 's description'"></h2>
<p th:text="${BlogPost.championDescription}"></p>

<p> post written by:<a th:href="@{'/author/' + ${Author.name}}">Van</a></p>
</body>
</html>
